@font-face {
    font-family: "GeneralSans-Regular";
    src: url("../fonts/GeneralSans-Regular.woff2") format("woff2"), url("../fonts/GeneralSans-Regular.woff") format("woff"), url("../fonts/GeneralSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: "GeneralSans-Bold";
    src: url("../fonts/GeneralSans-Bold.woff2") format("woff2"), url("../fonts/GeneralSans-Bold.woff") format("woff"), url("../fonts/GeneralSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }


/* header {
padding: 6px;
text-align: center;
background: rgb(15, 15, 104);
color: white;
font-size: 6px;
}
   */

.navitem {
  font-family: "GeneralSans-Bold", sans-serif;
}

.navitem:hover {
  color: black;
  border-bottom: 1px solid black;
}


.box1{
  /* border: 1px solid; */
  width: 300px;
  height: 300px;
  font-size: 10px;
  color:blue;
  margin-top: 150px;
  margin-left: 110px;
  

}

.line{
    margin-top: -260px;
    margin-left: 410px;
}


button:hover {
    opacity: 0.8;
  }
  

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

button {        /*Login*/
background-color: #04AA6D;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
border-radius: 4px;
}
  
#forgotpass {
    float: right;
}

.box2{
    /* border: 5px solid;
    background-color: aqua;
     */
    width: 250px;
    height: 250px;
    font-size: 10px;
    margin-top: -240px;
    margin-left: 500px;
  }

  input,
.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 10px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}


  .fb {
    background-color: #3B5998;
    color: white;
  }
  
  .twitter {
    background-color: #55ACEE;
    color: white;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
  }



body {
    font-family: "GeneralSans-Regular";
    margin: 0;
    background: rgb(255, 255, 255);
    /* background-color: gray; */
  }
  
.content {
max-width: 800px;
max-height: 800px;
margin-top: -50px;
margin-left: 700px;
background: white;

}


.wave {
    position: fixed;
    bottom: 0;
    width: 100vw;
  }


footer {
  background-color: rgba(1,1,1,0);
}