@font-face {
    font-family: "GeneralSans-Regular";
    src: url("../fonts/GeneralSans-Regular.woff2") format("woff2"), url("../fonts/GeneralSans-Regular.woff") format("woff"), url("../fonts/GeneralSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: "GeneralSans-Bold";
    src: url("../fonts/GeneralSans-Bold.woff2") format("woff2"), url("../fonts/GeneralSans-Bold.woff") format("woff"), url("../fonts/GeneralSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

body {
  font-family: "GeneralSans-Regular";
  margin: 0;
}

/* Header/Logo Title */
header {
  padding: 8px;
  text-align: center;
  background: blue;
  color: white;
  font-size: 8px;
}

img {
    position: fixed;
    bottom: 0;    
    width: 100vw;
  }